@use "reset";
@use "variables/global";
@use "themes/default";
@use "themes/dark";

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;

  a {
    color: var(--secondary-color);
  }
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 16px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}